@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">ricardo@swaipy.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">caroline@swaipy.com</a>
</address>
